<header class="container-fluid bg-primary text-center text-white ">
    <div class="row">
        <div class="col-xl-2 offset-xl-5">
            <span>فروش تتر</span>&nbsp;&nbsp;<span id="buy"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-2 offset-xl-5">
           <span>خرید تتر</span>&nbsp;&nbsp;<span id="sell"></span>
        </div>
    </div>
</header>