<div class="bottom-bar">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 col-contact-ways">
                <div class="contact-ways">
                    <div class="contact-ways-item">
                        <span class="icon fa fa-phone"></span>
                        <div class="title">با ما تماس بگیرید</div>
                        <div class="des mail-tel">+98-911-9100991</div>
                    </div>

                    <div class="contact-ways-item">
                        <span class="icon fa fa-map-marker"></span>
                        <div class="title">به دیدار ما بیایید</div>
                        <div class="des">مازندران - بابل - شهرک بهزاد</div>
                    </div>

                    <div class="contact-ways-item">
                        <span class="icon fa fa-envelope"></span>
                        <div class="title">پیام ارسال کنید</div>
                        <div class="des mail-tel">shayannikzad.ir@gmail.com</div>
                    </div>
                    <div class="contact-ways-item">
                        <span class="icon fa fa-heart"></span>
                        <div class="title">ما را دنبال کنید</div>
                        <div class="des social">
                            <a href="https://instagram.com/shayannikzad.ir"><span class="fab fa-instagram"></span></a>
                            <a href="https://t.me/shayannikzadir"><span class="fab fa-telegram"></span></a>
                            <!-- <a href=""><span class="fab fa-linkedin"></span></a> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 col-menu">
                <ul>
                    <li><a href="https://shayannikzad.ir/">خانه</a></li>
                    <li><a href="https://shayannikzad.ir/analyses">تحلیل ها</a></li>
                    <li><a href="https://shayannikzad.ir/videos">فیلم ها</a></li>
                    <li><a href="https://shayannikzad.ir/news">اخبار</a></li>
                    <li><a href="https://shayannikzad.ir/faq">سوالات متداول</a></li>
                    <li><a href="https://shayannikzad.ir/about-us">درباره ما</a></li>
                    <li><a href="https://shayannikzad.ir/contact-us">تماس با ما</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="copy-right-designer font-en">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">Designed by <a href="http://mohan21.ir" target="_blank">mohan21.ir</a> - All Rights Reserved</div>
            </div>
        </div>
    </div>
</div>