<div class="menu-bar">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-right">
                    <ul class="menu-side-box display-none">
                        <li>
                            <a href="#menu-side" class="btn-side-menu"><i class="icon fas fa-ellipsis-v"></i></a>
                        </li>
                    </ul>

                    <ul class="menu">
                        <li><a href="https://shayannikzad.ir/">خانه</a></li>
                        <li>
                            <a href="https://shayannikzad.ir/analyses">تحلیل ها</a>
                        </li>
                        <li>
                            <a href="https://shayannikzad.ir/videos">فیلم ها</a>
                        </li>
                        <li>
                            <!-- <a href="https://shayannikzad.ir/news">اخبار</a> -->
                        </li>
                        <li><a href="https://shayannikzad.ir/faq">سوالات متداول</a></li>
                        <!-- <li><a href="https://shayannikzad.ir/about-us">درباره ما</a></li> -->
                        <li><a href="https://shayannikzad.ir/contact-us">تماس با ما</a></li>
                    </ul>
                </div>

                <!-- <div class="col-logo">
                    <a href="https://shayannikzad.ir/" class="logo"><img src="https://shayannikzad.ir/images/logo.svg" alt="" /></a>
                </div> -->
            </div>
        </div>
    </div>
</div>

<nav id="menu-side" class="display-none">
    <ul>
        <li><a href="https://shayannikzad.ir/">خانه</a></li>
        <li>
            <a href="https://shayannikzad.ir/analyses">تحلیل ها</a>
        </li>
        <li>
            <a href="https://shayannikzad.ir/videos">فیلم ها</a>
        </li>
        <li>
            <!-- <a href="https://shayannikzad.ir/news">اخبار</a> -->
        </li>
        <li><a href="https://shayannikzad.ir/faq">سوالات متداول</a></li>
        <!-- <li><a href="https://shayannikzad.ir/about-us">درباره ما</a></li> -->
        <li><a href="https://shayannikzad.ir/contact-us">تماس با ما</a></li>
    </ul>
</nav>