<div class="crypto-currency-bar">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title-bar"><span class="title">قیمت لحظه ای ارزهای دیجیتال</span></div>
            </div>

            <div class="col-xs-12">
                <div class="cc-header">
                    <div class="col-title">نام</div>
                    <div class="col-price">آخرین قیمت</div>
                    <div class="col-change">تغییر 24h</div>
                    <div class="col-volume">حجم معاملات 24h</div>
                </div>



                <div class="cc-item BTCUSDT">
                    <div class="col-title">
                        <div class="image"><img src="https://shayannikzad.ir/images/cc-btc.svg" alt=""></div>
                        <div class="title">
                            <div class="title-fa">بیت کوین</div>
                            <div class="title-en">BTC</div>
                        </div>
                    </div>
                    <div class="col-price">
                        <div class="dollar"></div>
                        <div class="toman">
                            <div class="toman-sell">
                                
                                <span class="sell-price green">IRT 0</span>
                            </div>
                            <div class="toman-buy">
                                
                                <span class="buy-price red">IRT 0</span>
                            </div>
                        </div>
                       
                    </div>
                    <div class="col-change">0%</div>
                    <div class="col-volume dollar">0</div>
                </div>



                <div class="cc-item ETHUSDT">
                    <div class="col-title">
                        <div class="image"><img src="https://shayannikzad.ir/images/cc-eth.svg" alt=""></div>
                        <div class="title">
                            <div class="title-fa">اتریوم</div>
                            <div class="title-en">ETH</div>
                        </div>
                    </div>
                    <div class="col-price">
                        <div class="dollar"></div> 
                        <div class="toman">
                            <div class="toman-sell">
                                
                                <span class="sell-price green">IRT 0</span>
                            </div>
                            <div class="toman-buy">
                                
                                <span class="buy-price red">IRT 0</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-change">0%</div>
                    <div class="col-volume dollar">0</div>
                </div>

                <div class="cc-item BNBUSDT">
                    <div class="col-title">
                        <div class="image"><img src="https://shayannikzad.ir/images/cc-bnb.svg" alt=""></div>
                        <div class="title">
                            <div class="title-fa">بایننس کوین</div>
                            <div class="title-en">BNB</div>
                        </div>
                    </div>
                    <div class="col-price">
                        <div class="dollar"></div> 
                        <div class="toman">
                            <div class="toman-sell">
                                
                                <span class="sell-price green">IRT 0</span>
                            </div>
                            <div class="toman-buy">
                                
                                <span class="buy-price red">IRT 0</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-change">0%</div>
                    <div class="col-volume dollar">0</div>
                </div>

                <div class="cc-item XRPUSDT">
                    <div class="col-title">
                        <div class="image"><img src="https://shayannikzad.ir/images/cc-xrp.svg" alt=""></div>
                        <div class="title">
                            <div class="title-fa">ریپل</div>
                            <div class="title-en">XRP</div>
                        </div>
                    </div>
                    <div class="col-price">
                        <div class="dollar"></div>
                        <div class="toman">
                            <div class="toman-sell">
                                
                                <span class="sell-price green">IRT 0</span>
                            </div>
                            <div class="toman-buy">
                                
                                <span class="buy-price red">IRT 0</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-change">0%</div>
                    <div class="col-volume dollar">0</div>
                </div>



                <div class="cc-item DOGEUSDT">
                    <div class="col-title">
                        <div class="image"><img src="https://shayannikzad.ir/images/cc-doge.svg" alt="دوج کوین DOGE"></div>
                        <div class="title">
                            <div class="title-fa">دوج کوین</div>
                            <div class="title-en">DOGE</div>
                        </div>
                    </div>
                    <div class="col-price">
                        <div class="dollar">$ 0</div> 
                        <div class="toman">
                            <div class="toman-sell">
                                
                                <span class="sell-price green">IRT 0</span>
                            </div>
                            <div class="toman-buy">
                                
                                <span class="buy-price red">IRT 0</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-change">0%</div>
                    <div class="col-volume dollar">0</div>
            
                </div>
                <div class="cc-item BCHUSDT">
                    <div class="col-title">
                        <div class="image"><img src="https://shayannikzad.ir/images/cc-bch.svg" alt="بیت کوین کش BCH"></div>
                        <div class="title">
                            <div class="title-fa">بیت کوین کش</div>
                            <div class="title-en">BCH</div>
                        </div>
                    </div>
                    <div class="col-price">
                        <div class="dollar">$ 0</div> 
                        <div class="toman">
                            <div class="toman-sell">
                                
                                <span class="sell-price green">IRT 0</span>
                            </div>
                            <div class="toman-buy">
                                
                                <span class="buy-price red">IRT 0</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-change">0%</div>
                    <div class="col-volume dollar">$ 0</div>
                    
                </div>

                <div class="cc-item LTCUSDT">
                    <div class="col-title">
                        <div class="image"><img src="https://shayannikzad.ir/images/cc-ltc.svg" alt="لایت کوین LTC"></div>
                        <div class="title">
                            <div class="title-fa">لایت کوین</div>
                            <div class="title-en">LTC</div>
                        </div>
                    </div>
                    <div class="col-price">
                        <div class="dollar">$ 0</div> 
                        <div class="toman">
                            <div class="toman-sell">
                            
                                <span class="sell-price green">IRT 0</span>
                            </div>
                            <div class="toman-buy">
                            
                                <span class="buy-price red">IRT 0</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-change red">0%</div>
                    <div class="col-volume dollar">$ 0</div>
                    
                </div>

                <div class="cc-item TRXUSDT">
                    <div class="col-title">
                        <div class="image"><img src="https://shayannikzad.ir/images/cc-trx.svg" alt="ترون TRX"></div>
                        <div class="title">
                            <div class="title-fa">ترون</div>
                            <div class="title-en">TRX</div>
                        </div>
                    </div>
                    <div class="col-price">
                        <div class="dollar">$ 0</div> 
                        <div class="toman">
                            <div class="toman-sell">
                                
                                <span class="sell-price green">IRT 0</span>
                            </div>
                            <div class="toman-buy">
                                
                                <span class="buy-price red">IRT 0</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-change">0%</div>
                    <div class="col-volume dollar">$ 0</div>
                    
                </div>

                <div class="cc-item">
                    <div class="col-title">
                        <div class="image"><img src="https://shayannikzad.ir/images/cc-usdt.svg" alt="تتر USDT"></div>
                        <div class="title">
                            <div class="title-fa">تتر</div>
                            <div class="title-en">USDT</div>
                        </div>
                    </div>
                    <div class="col-price">
                        <div class="dollar">$ 1</div> 
                        <div class="toman">
                            <div class="toman-sell">   
                                <strong class="usdtBuy green">0</strong>
                            </div>
                            <div class="toman-buy">                          
                               <strong class="usdtSell red">0</strong>
                            </div>

                        </div>
                    </div>
                    <!-- <div class="col-change">- -</div>
                    <div class="col-volume">- -</div> -->
                </div>
            </div>
        </div>
    </div>
</div>